Repository solid-connection/solid-connect-server, pull requests merged in 2025-01, with the labels that each got.

#152 chore: 리팩터링 이슈 템플릿 추가
  .github/ISSUE_TEMPLATE/refactor_request.md
Labels: refactor

#144 feat: 추천 대학에서 로고 뿐만 아니라 background image도 포함
  src/main/java/com/example/solidconnection/university/dto/UniversityInfoForApplyPreviewResponse.java
Labels: feature

#148 test: 대학 관련 통합테스트 코드 추가
  src/main/java/com/example/solidconnection/university/controller/UniversityController.java
  src/main/java/com/example/solidconnection/university/service/UniversityLikeService.java
  src/main/java/com/example/solidconnection/university/service/UniversityQueryService.java
  src/test/java/com/example/solidconnection/e2e/UniversityLikeTest.java
  src/test/java/com/example/solidconnection/university/service/UniversityDataSetUpIntegrationTest.java
  src/test/java/com/example/solidconnection/university/service/UniversityLikeServiceTest.java
  src/test/java/com/example/solidconnection/university/service/UniversityQueryServiceTest.java
  src/test/java/com/example/solidconnection/university/service/UniversityRecommendServiceTest.java
Labels: feature

#154 refactor: 스프링 시큐리티 코드 리팩터링
  src/main/java/com/example/solidconnection/SolidConnectionApplication.java
  src/main/java/com/example/solidconnection/auth/domain/TokenType.java
  src/main/java/com/example/solidconnection/auth/service/AuthService.java
  src/main/java/com/example/solidconnection/auth/service/SignInService.java
  src/main/java/com/example/solidconnection/auth/service/SignUpService.java
  src/main/java/com/example/solidconnection/auth/service/TokenProvider.java
  src/main/java/com/example/solidconnection/auth/service/TokenValidator.java
  src/main/java/com/example/solidconnection/config/cors/CorsPropertiesConfig.java
  src/main/java/com/example/solidconnection/config/cors/WebConfig.java
  src/main/java/com/example/solidconnection/config/security/CorsProperties.java
  src/main/java/com/example/solidconnection/config/security/JwtAuthentication.java
  src/main/java/com/example/solidconnection/config/security/JwtAuthenticationEntryPoint.java
  src/main/java/com/example/solidconnection/config/security/JwtAuthenticationFilter.java
  src/main/java/com/example/solidconnection/config/security/JwtProperties.java
  src/main/java/com/example/solidconnection/config/security/JwtUserDetails.java
  src/main/java/com/example/solidconnection/config/security/SecurityConfiguration.java
  src/main/java/com/example/solidconnection/config/security/SignOutCheckFilter.java
  src/main/java/com/example/solidconnection/config/token/TokenService.java
  src/main/java/com/example/solidconnection/custom/exception/ErrorCode.java
  src/main/java/com/example/solidconnection/custom/userdetails/CustomUserDetailsService.java
  src/main/java/com/example/solidconnection/util/JwtUtils.java
  src/test/java/com/example/solidconnection/config/security/JwtAuthenticationFilterTest.java
  src/test/java/com/example/solidconnection/config/security/SignOutCheckFilterTest.java
  src/test/java/com/example/solidconnection/config/token/TokenProviderTest.java
  src/test/java/com/example/solidconnection/e2e/ApplicantsQueryTest.java
  src/test/java/com/example/solidconnection/e2e/MyPageTest.java
  src/test/java/com/example/solidconnection/e2e/MyPageUpdateTest.java
  src/test/java/com/example/solidconnection/e2e/SignInTest.java
  src/test/java/com/example/solidconnection/e2e/SignUpTest.java
  src/test/java/com/example/solidconnection/e2e/UniversityDetailTest.java
  src/test/java/com/example/solidconnection/e2e/UniversityLikeTest.java
  src/test/java/com/example/solidconnection/e2e/UniversityRecommendTest.java
  src/test/java/com/example/solidconnection/e2e/UniversitySearchTest.java
  src/test/java/com/example/solidconnection/util/JwtUtilsTest.java
Labels: refactor

#156 test: 유저 관련 통합테스트 코드 추가
  src/test/java/com/example/solidconnection/siteuser/service/SiteUserServiceTest.java
  src/test/java/com/example/solidconnection/support/integration/BaseIntegrationTest.java
  src/test/java/com/example/solidconnection/university/service/UniversityLikeServiceTest.java
  src/test/java/com/example/solidconnection/university/service/UniversityQueryServiceTest.java
  src/test/java/com/example/solidconnection/university/service/UniversityRecommendServiceTest.java
Labels: test

#159 hotfix: 대학 추천 기능 정상화
  src/main/java/com/example/solidconnection/university/service/GeneralRecommendUniversities.java
  src/main/java/com/example/solidconnection/university/service/UniversityRecommendService.java
Labels: bug

#165 test: 어학점수 관련 통합테스트 코드 추가
  src/test/java/com/example/solidconnection/score/service/ScoreServiceTest.java
Labels: test

#173 test: 댓글 관련 통합테스트 코드 추가
  src/test/java/com/example/solidconnection/comment/service/CommentServiceTest.java
  src/test/java/com/example/solidconnection/unit/repository/BoardRepositoryTest.java
  src/test/java/com/example/solidconnection/unit/repository/CommentRepositoryTest.java
  src/test/java/com/example/solidconnection/unit/repository/GpaScoreRepositoryTest.java
  src/test/java/com/example/solidconnection/unit/repository/LanguageTestScoreRepositoryTest.java
  src/test/java/com/example/solidconnection/unit/repository/PostLikeRepositoryTest.java
  src/test/java/com/example/solidconnection/unit/repository/PostRepositoryTest.java
  src/test/java/com/example/solidconnection/unit/service/ApplicationServiceTest.java
  src/test/java/com/example/solidconnection/unit/service/BoardServiceTest.java
  src/test/java/com/example/solidconnection/unit/service/CommentServiceTest.java
  src/test/java/com/example/solidconnection/unit/service/PostServiceTest.java
  src/test/java/com/example/solidconnection/unit/service/ScoreServiceTest.java
  src/test/java/com/example/solidconnection/unit/service/SiteUserServiceTest.java
Labels: test

#175 refactor: 공통 추천 대학 로직 변경
  src/main/java/com/example/solidconnection/university/repository/UniversityInfoForApplyRepository.java
  src/main/java/com/example/solidconnection/university/service/GeneralRecommendUniversities.java
  src/main/java/com/example/solidconnection/university/service/GeneralUniversityRecommendService.java
  src/main/java/com/example/solidconnection/university/service/UniversityRecommendService.java
  src/test/java/com/example/solidconnection/e2e/UniversityRecommendTest.java
  src/test/java/com/example/solidconnection/university/service/GeneralUniversityRecommendServiceTest.java
  src/test/java/com/example/solidconnection/university/service/UniversityRecommendServiceTest.java
Labels: refactor

#176 test: 게시판 관련 통합테스트 코드 추가
  src/test/java/com/example/solidconnection/board/service/BoardServiceTest.java
  src/test/java/com/example/solidconnection/support/integration/BaseIntegrationTest.java
Labels: test
